@import url("fontiran.css");

* {
    font-family: "IRANSansX";
}

/* .samim {
    font-family: "Samim";
}

.yekan {
    font-family: "Yekan";
} */

.body {
    background-color: "#FFFAEE";
}

#title1 {
    font-family: "Anjoman";
}
/* .mmmmmm{
    background-image: url(../img/Frame-1000001548-1-scaled.jpg);
    background-repeat: no-repeat;
    background-position: center;
} */